:root {
    --ambient-color: #323232;
    --ambient-color-dark: #000000;
        /* Opacity
        navbar, section: 40%
        button: 100%
        button-inactive: 50%
        */
    --text-color: #DFE0DD; /* inactive opacity: 50% */
    --done-color: #10E04B;
    --ready-color: #E0D71C;
    --inactive-color: #E01010; /* 50% opacity */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

/*TODO
    background
    navbar
    position elements with flexbox, apply classes where needed
    url classes for hint images linking to done, ready, inactive svgs
    done, ready, inactive classes
    think what else would be needed for functionality and switch to js
*/



/*********** OLD CSS ***********

body {

    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;

    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    
    background-color: var(--bg-color);
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
}

#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 2rem 4rem;
    text-align: center;
    color: #bbb;
}

.string-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
}

.process-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
}

.download-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1.25rem;
}

.disabled-button {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
}

.enabled-button {
    cursor: default;
    pointer-events: all;
}

*/