:root {
    --ambient-color: #323232;
    --ambient-color-dark: #000000;
    --ambient-color-dark-rgb: 0, 0, 0;
        /* Opacity
        navbar, section: 40%
        button: 100%
        button-inactive: 50%
        */
    --text-color: #DFE0DD; /* inactive opacity: 50% */
    --done-color: #10E04B;
    --ready-color: #E0D71C;
    --inactive-color: #E01010; /* 50% opacity */
    --inactive-color-rgb: 224, 16, 16;
}

/*TODO
    X background
    X navbar
    position elements with flexbox, apply classes where needed
    url classes for hint images linking to done, ready, inactive svgs
    done, ready, inactive classes
    think what else would be needed for functionality and switch to js
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    margin: 0;    
    background-color: var(--ambient-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 3rem;
    background-color: rgba(var(--ambient-color-dark-rgb), 0.4);
}

.title {
    padding-left: 0.8rem;
}

.logo {
    transform: scale(0.9);
}



main {
    margin: 4.5rem;

    display: grid;
    grid-template-areas:
        "upload    upload"
        "process   download";

    grid-template-columns: 15.49rem 9.49rem;
    grid-template-rows: 14.24rem 9.24rem;

    gap: 0.875rem;
}

.upload {
    grid-area: upload;
    background-color: rgba(var(--ambient-color-dark-rgb), 0.4);
}

.process {
    grid-area: process;
    background-color: rgba(var(--ambient-color-dark-rgb), 0.4);
}

.download {
    grid-area: download;
    background-color: rgba(var(--ambient-color-dark-rgb), 0.4);
}



#drop_zone {
    position: relative;
    border: 0.125rem dashed #bbb;
    border-radius: 0.25rem;
    padding: 2rem 4rem;
    text-align: center;
    color: #bbb;
}



/*********** OLD CSS ***********

body {

    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;

    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    
    background-color: var(--bg-color);
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
}

#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 2rem 4rem;
    text-align: center;
    color: #bbb;
}

.string-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
}

.process-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
}

.download-file {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1.25rem;
}

.disabled-button {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
}

.enabled-button {
    cursor: default;
    pointer-events: all;
}

*/